<!-- The UI is based on this dribbble design -  https://dribbble.com/shots/6671330-TheTop. I recreated the SVG illustration myself. -->
{% load sass_tags %}
<header class="header" role="banner" aria-label="The Top">
  <link rel="stylesheet" href="{% sass_src 'home.scss' %}" type="text/css">
</header>
<title>국어 교육 #1</title>

<div class='header'>
  <a href='/features'>기능들</a>
  <a href='/map'>로드맵</a>
  <a href='/easteregg' class='title'>나랏말싸미</a>
  <a href='/description'>소개</a>
  <a href='/contact_'>연락</a>
</div>

<div class='top'>
  <div id='left'>
    <a>나<br>랏<br>말<br>싸<br>미</a>
  </div>
  <div id='right'>
    
    <a>인공지능 및 채점 알고리즘을 사용한 새로운 국어 공부 플랫폼</a><br><br><br><br><br><br><br><br><br>
    <a style="color:gray" href="/signup">회원가입</a>
    <a style="color:gray" href="/login">로그인</a>

    
  </div>
</div>

<div class='section'>
  <div class='image'>
    <img src='https://image.flaticon.com/icons/svg/107/107762.svg'>
  </div>
  <div class='content'>
    <a class='text'>(설정 안됨)</a>
    <a href='#' class='button'>Learn more</a>
  </div>
</div>

<div class='footer'>
  <div id='left'>
    <input type='text' placeholder='검색...'>
    <a href='#'>기능들</a>
    <a href='#'>로드맵</a>
    <a href='#'>소개</a>
    <a href='#'>연락</a>
  </div>
  <div id='center'>
    <a class='heading'>나랏말싸미</a>
    <a class='description'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
  </div>
  <div id='right'>
    <a style='margin-bottom: 10px;'>2022 © Sarang Park All Rights Reserved</a>
    <a>CodeHelp Tech & Wonmook Nuri</a>
    <a>Template design by Ryan Koroh</a>
  </div>
</div>
